name: run-unit-tests

on: 
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

permissions:
  contents: read
  actions: read
  
jobs: 
  build-ubuntu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Install Chrome
        run: |
            sudo apt-get update
            wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
            sudo apt install ./google-chrome-stable_current_amd64.deb
                  
      - name: Setup node 18
        uses: actions/setup-node@v4
        with: 
          node-version: 18
          
      - name: Install node dependencies
        run: |
            npm ci
            npm install -g karma-cli

      - name: Code Linting
        run: npm run lint --workspaces
      
      - name: Upload Lint Results
        uses: actions/upload-artifact@v4  
        if: ${{ !cancelled() }}           # run this step even if previous step failed
        with:
          name: lint-results
          path: |
            tokenserver/reports/lint-results.xml
            platform/reports/lint-results.xml
             
      - name: Build the education platform
        id: build-platform
        if: ${{ !cancelled() }}           # run this step even if previous step failed
        run: npm run build --workspaces

      - name: Run the unit tests
        id: run-unit-tests
        if: success() || failure() && steps.build-platform.outcome == 'success'
        run: npm test --workspaces

      - name: Upload Test Results
        uses: actions/upload-artifact@v4  
        if: ${{ !cancelled() }}           # run this step even if previous step failed
        with:
          name: test-results-ubuntu
          path: "platform/reports/TESTS*.xml"

      - name: Setup .NET Core - for coverage report # Required to execute ReportGenerator
        uses: actions/setup-dotnet@v4
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
            dotnet-version: 8.x
            dotnet-quality: 'ga'

      - name: Create coverage md report 
        uses: danielpalme/ReportGenerator-GitHub-Action@5.5.0
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
            reports: ./platform/reports/coverage-report.xml
            targetdir: ./platform/reports/
            reporttypes: MarkdownSummaryGithub

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4  
        if: ${{ !cancelled() }}           # run this step even if previous step failed
        with:
          name: coverage-results-ubuntu
          path: "platform/reports/SummaryGithub.md"
        
  build-mac: 
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup node 18
        uses: actions/setup-node@v4
        with: 
          node-version: 18
          
      - name: Install node dependencies
        run: |
            npm ci
            npm install -g karma-cli

      - name: Setup safari driver
        run: |
            sudo safaridriver --enable

      - name: Build the education platform
        id: build-platform
        if: success() || failure()
        run: npm run build --workspaces

      - name: Run the unit tests
        id: run-unit-tests
        if: success() || failure() && steps.build-platform.outcome == 'success'
        run: npm test --workspaces -- --browsers SafariNative

      - name: Upload Test Results
        uses: actions/upload-artifact@v4  # upload test results  
        if: ${{ !cancelled() }}           # run this step even if previous step failed
        with:
          name: test-results-mac
          path: "platform/reports/TESTS*.xml"

      - name: Setup .NET Core - for coverage report # Required to execute ReportGenerator
        uses: actions/setup-dotnet@v4
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
            dotnet-version: 8.x
            dotnet-quality: 'ga'

      - name: Create coverage md report 
        uses: danielpalme/ReportGenerator-GitHub-Action@5.2.1
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
            reports: ./platform/reports/coverage-report.xml
            targetdir: ./platform/reports/
            reporttypes: MarkdownSummaryGithub
      
      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4  
        if: ${{ !cancelled() }}           # run this step even if previous step failed
        with:
          name: coverage-results-macos
          path: "platform/reports/SummaryGithub.md"

  build-win: 
     runs-on: windows-latest
     env:
      EDGE_BIN: C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe
     steps:
       - uses: actions/checkout@v4
                  
       - name: Setup node 18
         uses: actions/setup-node@v4
         with: 
           node-version: 18
          
       - name: Install node dependencies
         run: |
             npm ci
             npm install -g karma-cli

       - name: Setup edge driver
         run: |
             choco install selenium-chromium-edge-driver

       - name: Build the education platform
         id: build-platform
         if: success() || failure()
         run: npm run build --workspaces

       - name: Run the unit tests
         id: run-unit-tests
         if: success() || failure() && steps.build-platform.outcome == 'success'
         run: npm test --workspaces -- --browsers EdgeHeadless

       - name: Upload Test Results
         uses: actions/upload-artifact@v4  # upload test results  
         if: ${{ !cancelled() }}           # run this step even if previous step failed
         with:
          name: test-results-win
          path: "platform/reports/TESTS*.xml"

       - name: Setup .NET Core - for coverage report # Required to execute ReportGenerator
         uses: actions/setup-dotnet@v4
         if: success() || failure() && steps.run-unit-tests.outcome == 'success'
         with:
            dotnet-version: 8.x
            dotnet-quality: 'ga'

       - name: Create coverage md report 
         uses: danielpalme/ReportGenerator-GitHub-Action@5.2.1
         if: success() || failure() && steps.run-unit-tests.outcome == 'success'
         with:
            reports: ./platform/reports/coverage-report.xml
            targetdir: ./platform/reports/
            reporttypes: MarkdownSummaryGithub
      
       - name: Upload Coverage Report
         uses: actions/upload-artifact@v4  
         if: ${{ !cancelled() }}           # run this step even if previous step failed
         with:
          name: coverage-results-win
          path: "platform/reports/SummaryGithub.md"

