name: test-reports
on:
  workflow_run:
    workflows:
      - run-unit-tests             
    types: 
      - completed

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  report-ubuntu: 
    runs-on: ubuntu-latest
    steps:
      - name: Create lint report
        if: success() || failure()
        uses: dorny/test-reporter@v1
        with:
            name: Lint Results
            path: "\
             platform/reports/lint-results.xml,\
             tokenserver/reports/lint-results.xml"
            reporter: java-junit
            fail-on-error: true
    
      - name: Create test report
        uses: dorny/test-reporter@v1
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
          name: Unit Test Results
          path: platform/reports/TESTS*.xml
          reporter: java-junit
          fail-on-error: true

      - name: Setup .NET Core - for coverage report # Required to execute ReportGenerator
        uses: actions/setup-dotnet@v4
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
            dotnet-version: 8.x
            dotnet-quality: 'ga'

      - name: Create coverage md report 
        uses: danielpalme/ReportGenerator-GitHub-Action@5.2.1
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
            reports: ./platform/reports/coverage-report.xml
            targetdir: ./platform/reports/
            reporttypes: MarkdownSummaryGithub
      
      - name: Output coverage to summary
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        run: cat ./platform/reports/SummaryGithub.md >> $GITHUB_STEP_SUMMARY

  report-mac: 
    runs-on: macos-latest

    steps:
      - name: Create lint report
        if: success() || failure()
        uses: dorny/test-reporter@v1
        with:
            name: Lint Results
            path: "\
             platform/reports/lint-results.xml,\
             tokenserver/reports/lint-results.xml"
            reporter: java-junit
            fail-on-error: true
            
      - name: Create test report
        uses: dorny/test-reporter@v1
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
          name: Unit Test Results - mac
          path: platform/reports/TESTS*.xml
          reporter: java-junit
          fail-on-error: true

      - name: Setup .NET Core - for coverage report # Required to execute ReportGenerator
        uses: actions/setup-dotnet@v4
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
            dotnet-version: 8.x
            dotnet-quality: 'ga'

      - name: Create coverage md report 
        uses: danielpalme/ReportGenerator-GitHub-Action@5.2.1
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
            reports: ./platform/reports/coverage-report.xml
            targetdir: ./platform/reports/
            reporttypes: MarkdownSummaryGithub
      
      - name: Output coverage to summary
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        run: cat ./platform/reports/SummaryGithub.md >> $GITHUB_STEP_SUMMARY

  report-win: 
    runs-on: windows-latest
    env:
      EDGE_BIN: C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe
    steps:    
      - name: Create test report
        uses: dorny/test-reporter@v1
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
          name: Unit Test Results - win
          path: platform/reports/TESTS*.xml
          reporter: java-junit
          fail-on-error: true

      - name: Setup .NET Core - for coverage report # Required to execute ReportGenerator
        uses: actions/setup-dotnet@v4
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
            dotnet-version: 8.x
            dotnet-quality: 'ga'

      - name: Create coverage md report 
        uses: danielpalme/ReportGenerator-GitHub-Action@5.2.1
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        with:
            reports: ./platform/reports/coverage-report.xml
            targetdir: ./platform/reports/
            reporttypes: MarkdownSummaryGithub
      
      - name: Output coverage to summary
        if: success() || failure() && steps.run-unit-tests.outcome == 'success'
        run: Get-Content -Path ".\platform\reports\SummaryGithub.md" >> $Env:GITHUB_STEP_SUMMARY
