name: test-reports
on:
  workflow_run:
    workflows:
      - run-unit-tests             
    types: 
      - completed

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  report-ubuntu: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Create lint report
        if: success() || failure()
        uses: dorny/test-reporter@v2
        with:
            name: Lint Results
            artifact: lint-results
            path: "*.xml"
            reporter: java-junit
            fail-on-error: true
    
      - name: Create test report
        uses: dorny/test-reporter@v2
        if: success() || failure() 
        with:
          name: Unit Test Results
          artifact: test-results-ubuntu
          path: "*.xml"
          reporter: java-junit
          fail-on-error: true

      - name: Setup .NET Core - for coverage report # Required to execute ReportGenerator
        uses: actions/setup-dotnet@v4
        if: success() || failure() 
        with:
            dotnet-version: 8.x
            dotnet-quality: 'ga'

      - name: Download Ubuntu Coverage Files 
        uses: actions/download-artifact@v4
        with:
            name: coverage-results-ubuntu
            path: "platform/reports/"
            run-id: ${{ github.event.workflow_run.id }}
            github-token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Output Ubuntu coverage to summary
        if: success() || failure() 
        run: cat ./platform/reports/SummaryGithub.md >> $GITHUB_STEP_SUMMARY
        shell: bash


      - name: Create MacOS test report
        uses: dorny/test-reporter@v2
        if: success() || failure() 
        with:
          name: Unit Test Results - mac
          artifact: test-results-mac
          path: "*.xml"
          reporter: java-junit
          fail-on-error: true

      - name: Download MacOS Coverage Files 
        uses: actions/download-artifact@v4
        with:
            name: coverage-results-macos
            path: "platform/reports/"
            run-id: ${{ github.event.workflow_run.id }}
            github-token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Output MacOS coverage to summary
        if: success() || failure() 
        run: cat ./platform/reports/SummaryGithub.md >> $GITHUB_STEP_SUMMARY
        shell: bash

      - name: Create test report
        uses: dorny/test-reporter@v2
        if: success() || failure() 
        with:
          name: Unit Test Results - win
          artifact: test-results-win
          path: "*.xml"
          reporter: java-junit
          fail-on-error: true

      - name: Download Win Coverage Files 
        uses: actions/download-artifact@v4
        with:
            name: coverage-results-win
            path: "platform/reports/"
            run-id: ${{ github.event.workflow_run.id }}
            github-token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Output Win coverage to summary
        if: success() || failure() 
        run: cat ./platform/reports/SummaryGithub.md >> $GITHUB_STEP_SUMMARY
        shell: bash